#logo-trybe{
  display: block;
  float: left;
  width: 65px;
  margin-right: 35px;
  margin-top: 11px;
  z-index: 1;
}

header {
  position: fixed;
  top: 0;
  background-color: rgb(253, 251, 251);
  width: 1366px;
  line-height: 8px;
  padding-left: 400px;
  font-size: 12px;
  z-index: 2;
}

#minha_foto {
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

body {
  background-color: rgb(253, 251, 251);
  background-image: url(images/prancheta.jpg); /* fonte da imagem: https://www.pngegg.com/pt/png-eeabp */
  background-repeat: no-repeat;
  background-position: 0px 38px;
  width: 1366px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  z-index: 1;
}

.lado-esquerdo{
  float: left;
  height: 750px;
  padding: 10px;
  text-align: center;
  margin-top: 90px;
  margin-left: 270px;
  width: 240px;
  line-height: 26px;
}

.lado-direito {
  float: left;
  clear: none;
  width: 350px;
  top: 100px;
  left: 350px;
  text-align: center;
  line-height: 122%;
  padding: 0px 10px;
  margin: 90px 10px 10px 10px;
}

.lado-direito, .lado-esquerdo, .listas, #tabela-pid {
  border: 2px solid black;
  border-radius: 15px;
}

.listas {
  float: left;
  padding: 0px 5px;
  margin-top: 90px;
  font-family: cursive;
  width: 290px;
  height: 770px;
}

.listas h2{
  position: relative;
  top: 36px;
  left: 15px;
  font-family: cursive;
  text-align: center;
  font-size: 20px;
}

#licoes_aprendidas, #licoes_a_aprender{
  height: 284px;
  width: 200px;
  width: 200px;
  font-size: 94%;
  line-height: 108%;
  color: #1251C5;
}


#licoes_aprendidas{
  position: relative;
  left: 28px;
  top: 37px;
}

#licoes_a_aprender{
  position: relative;
  left: 27px;
  top: 37px;
}

#lista1-alinhamento, #lista2-alinhamento {
  position: relative;
  top: 0px;
  left: 10px;
  margin-bottom: 40px;
  background-image: url(images/folha-de-caderno.png);/* fonte de folha-de-caderno.png: https://www.pngfind.com/download/xommRw_1017-x-1209-14-sheet-of-notebook-hd/ */
  background-repeat: no-repeat;
  background-size: 270px;
  color: #1251C5;
}

nav {
  position: absolute;
  left: 552px;
  top: 525px;
  width: 560px;
}

#rodape {
  position: absolute;
  left: 585px;
  top: 870px;
  width: 440px;
  font-size: 14px;
}